<div class="container-xl">
  <div class="text-center">
    <br />
    <img
      src="/resources/explorer_bitcoin_cash_logo_bigger.png"
      style="width: 250px; height: 63px"
    />
    <br /><br />

    <h2>Privacy Policy</h2>
    <h6>Updated: January 12, 2026</h6>

    <br /><br />

    <div class="text-left">
      <h4>USE YOUR OWN SELF-HOSTED MEMPOOL EXPLORER</h4>

      <p>
        For maximum privacy, we recommend that you use your own self-hosted
        instance of BCH Explorer on your own hardware. You can easily install
        your own self-hosted instance of this website on a Raspberry Pi using a
        one-click installation method maintained by various Bitcoin Cash
        fullnode distributions such as Umbrel, RaspiBlitz, MyNode, and
        RoninDojo. See our project's GitLab page for more details about
        self-hosting this website. By using your own self-hosted instance you
        will have maximum security, privacy and freedom.
      </p>

      <br />
      <p>
        The
        <a href="https://bchexplorer.cash/">bchexplorer.cash</a> website, their
        associated API services, and related network and server infrastructure
        (collectively, the "Website") is operated by Melroy van den Berg, a
        Bitcoin Cash community member ("We" or "Us").
      </p>

      <br />

      <h5>
        By accessing this Website, you agree to the following Privacy Policy:
      </h5>

      <br />

      <h4>USING THIS WEBSITE</h4>
      <p>
        Out of respect for the Bitcoin Cash community, this Website does not use
        any first-party cookies, except to store your preferred language and
        theme settings (if any). However, we do use minimal first-party
        analytics and logging as needed for the operation of this Website, as
        follows:
      </p>

      <ul>
        <li>
          We use basic webserver logging (Angie) for sysadmin purposes, which
          collects your IP address along with the requests you make. These logs
          are deleted after 30 days, and we do not share this data with any
          third-party.
        </li>

        <br />

        <li>
          We use a self-hosted statistics application (Grafana) for analytics
          purposes, which collects your IP address along with the requests you
          make. Our grafana instance is configured to respect your privacy by
          redacting your IP address and other methods, and we do not share this
          data with any third-party. To conceal your activity from our
          analytics, we recommend that you use a privacy protecting browser
          extension that blocks grafana from being loaded.
        </li>
      </ul>

      <br />

      <p>EOF</p>
    </div>
  </div>

  <br /><br />
</div>
