<div class="container-xl">
  <div class="text-center">
    <br />
    <img
      [src]="
        isLightMode
          ? '/resources/explorer_bitcoin_cash_logo_bigger_light.png?v=bfx1'
          : '/resources/explorer_bitcoin_cash_logo_bigger.png?v=bfx1'
      "
      style="width: 387px; height: 100px"
    />
    <br /><br />

    <h2>Terms of Service</h2>
    <h6>Updated: July 2, 2026</h6>

    <br /><br />

    <div class="text-start">
      <p *ngIf="officialBCHExplorer">
        The <a href="https://mempool.bitfinitechain.org">mempool.bitfinitechain.org</a> website, its
        associated API services, and related network and server infrastructure
        (collectively, the "Website") are operated by the BitFinite project. It is
        self-hosted and is the <b>official</b> BitFinite explorer (<a
          href="https://mempool.bitfinitechain.org"
          >mempool.bitfinitechain.org</a
        >) website.
      </p>
      <p *ngIf="!officialBCHExplorer">
        This website and its API service (collectively, the "Website") are
        operated by a member of the BitFinite community ("We" or "Us"). This
        is <b>not</b> the official BitFinite explorer website. For support
        please contact the operator of this site.
      </p>

      <h5>
        By accessing this Website, you agree to the following Terms of Service:
      </h5>

      <br />

      <h4>NO WARRANTY</h4>

      <p>
        THIS WEBSITE IS PROVIDED ON AN "AS IS, AS AVAILABLE" BASIS, WITHOUT ANY
        WARRANTY OR REPRESENTATIONS; EXPRESS OR IMPLIED, WITHOUT EVEN THE
        IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
        CONTINUOUS AVAILABILITY, OR UNINTERRUPTED SERVICE. WE MAKE NO GUARANTEE
        TO THE ACCURACY OF ANY DATA ON THIS WEBSITE, AND IT IS YOUR
        RESPONSIBILITY TO VERIFY ALL DATA OBTAINED FOR INACCURACIES AND
        OMISSIONS.
      </p>

      <br />

      <h4>NO LIABILITY</h4>

      <p>
        WE WILL NOT BE HELD LIABLE FOR ANY LOSS OR DAMAGES, WHETHER DIRECT,
        INDIRECT, OR ANY OTHER NATURE, THAT ARE DEEMED OR ALLEGED TO HAVE
        RESULTED FROM OR BEEN CAUSED BY THIS WEBSITE OR ITS CONTENTS, INCLUDING,
        BUT WITHOUT LIMITATION TO, ERRORS, INACCURACIES OR AMBIGUITY IN THIS
        WEBSITE OR ITS CONTENTS, FAILURES, MALFUNCTIONS, DELAYS OR INTERRUPTIONS
        IN OPERATION OR TRANSMISSION, ANY PERSONS USE OR MISUSE OF THIS WEBSITE
        OR ITS CONTENT, ANY ERRORS OR OMISSIONS IN CONTENT, DAMAGE FOR LOSS OF
        BITCOIN OR OTHER CRYPTO ASSETS, LOSS OF BUSINESS, LOSS OF PROFITS,
        BUSINESS INTERRUPTION, LOSS OF INFORMATION, OR ANY OTHER PECUNIARY OR
        CONSEQUENTIAL LOSS OR DAMAGE (EVEN IF WE HAVE BEEN NOTIFIED OF SUCH RISK
        OF LOSS OR DAMAGE).
      </p>

      <br />

      <h4>NO ADVERTISING</h4>

      <p>
        This Website is the official BitFinite (BFX) block explorer. It is
        provided free of charge and is open-source under the AGPL-3.0 license
        (source:
        <a href="https://github.com/bitfinitechain/bitfinite-mempool"
          >github.com/bitfinitechain/bitfinite-mempool</a
        >). Out of respect for the BitFinite community, this Website does not
        display any advertising or third-party trackers, and it is not
        affiliated with any third party.
      </p>

      <br />

      <p>EOF</p>
    </div>
  </div>

  <br /><br />
</div>
