<div
  *ngIf="showTitle && mode === 'difficulty'"
  class="main-title"
  i18n="dashboard.difficulty-adjustment"
>
  Difficulty Adjustment
</div>
<div
  *ngIf="showTitle && mode === 'halving'"
  class="main-title"
  i18n="dashboard.halving-countdown"
>
  Halving Countdown
</div>
<div class="card-wrapper">
  <div class="card">
    <div class="widget-toggler">
      <a
        href=""
        (click)="setMode('difficulty')"
        class="toggler-option"
        [ngClass]="{ inactive: mode === 'difficulty' }"
        ><small i18n="statistics.average-small">difficulty</small></a
      >
      <span style="color: var(--transparent-fg); font-size: 8px"> | </span>
      <a
        href=""
        (click)="setMode('halving')"
        class="toggler-option"
        [ngClass]="{ inactive: mode === 'halving' }"
        ><small i18n="statistics.median-small">halving</small></a
      >
    </div>
    <div
      *ngIf="mode === 'difficulty'; else halving"
      class="card-body more-padding"
    >
      <div
        class="difficulty-adjustment-container"
        *ngIf="
          (isLoadingWebSocket$ | async) === false &&
            (asertStatus$ | async) as asert;
          else loadingDifficulty
        "
      >
        <div class="schedule-bar-container">
          <div class="schedule-bar">
            <div class="schedule-center-mark"></div>
            <div
              class="schedule-fill"
              [ngClass]="{
                ahead: asert.barOffsetPercent > 0,
                behind: asert.barOffsetPercent < 0,
              }"
              [ngStyle]="{
                left:
                  asert.barOffsetPercent >= 0
                    ? '50%'
                    : 50 + asert.barOffsetPercent / 2 + '%',
                width:
                  (asert.barOffsetPercent >= 0
                    ? asert.barOffsetPercent / 2
                    : -asert.barOffsetPercent / 2) + '%',
              }"
            ></div>
          </div>
          <div class="schedule-bar-labels">
            <span class="label-behind" i18n="difficulty-box.behind"
              >Behind</span
            >
            <span class="label-on-time" i18n="difficulty-box.on-time"
              >On time</span
            >
            <span class="label-ahead" i18n="difficulty-box.ahead">Ahead</span>
          </div>
        </div>
        <div class="difficulty-stats">
          <div class="item">
            <div class="card-text">
              ~<app-time
                [time]="asert.timeAvg / 1000"
                [fractionDigits]="1"
              ></app-time>
            </div>
            <div class="symbol" i18n="difficulty-box.average-block-time">
              Average block time
            </div>
          </div>
          <div class="item">
            <div
              class="card-text bigger"
              [ngStyle]="{ color: asert.colorDrift }"
            >
              <span
                *ngIf="asert.difficultyDriftPercent > 0; else arrowDownDrift"
              >
                <fa-icon
                  class="retarget-sign"
                  [icon]="['fas', 'caret-up']"
                  [fixedWidth]="true"
                ></fa-icon>
              </span>
              <ng-template #arrowDownDrift>
                <fa-icon
                  class="retarget-sign"
                  [icon]="['fas', 'caret-down']"
                  [fixedWidth]="true"
                ></fa-icon>
              </ng-template>
              {{ asert.difficultyDriftPercent | absolute | number: "1.2-4" }}
              <span class="symbol">%</span>
            </div>
            <div class="symbol" i18n="difficulty-box.difficulty-drift">
              Difficulty drift
            </div>
          </div>
          <div class="item">
            <div class="card-text">
              <span *ngIf="asert.scheduleOffsetMinutes >= 0">+</span
              >{{ asert.scheduleOffsetMinutes | number: "1.0-0" }}
              <span class="symbol" i18n="difficulty-box.minutes">min</span>
            </div>
            <div class="symbol">
              <span
                *ngIf="asert.scheduleOffsetSeconds >= 0"
                i18n="difficulty-box.ahead-of-schedule"
                >ahead of schedule</span
              >
              <span
                *ngIf="asert.scheduleOffsetSeconds < 0"
                i18n="difficulty-box.behind-schedule"
                >behind schedule</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #halving>
  <div class="card-body more-padding">
    <div
      class="difficulty-adjustment-container halving"
      *ngIf="
        (isLoadingWebSocket$ | async) === false &&
          (asertStatus$ | async) as asert;
        else loadingDifficulty
      "
    >
      <div class="halving-progress">
        <div class="background"></div>
        <div
          class="remaining"
          [style]="{
            left: ((210000 - asert.blocksUntilHalving) / 2100).toFixed(2) + '%',
          }"
        ></div>
        <div class="label">
          {{ ((210000 - asert.blocksUntilHalving) / 2100).toFixed(2) }}%
        </div>
      </div>
      <div class="difficulty-stats">
        <div class="item">
          <div class="card-text bigger">
            <app-bch [satoshis]="nextSubsidy"></app-bch>
          </div>
          <div class="symbol">
            <span i18n="difficulty-box.new-subsidy">New subsidy</span>
          </div>
        </div>
        <div class="item">
          <div class="card-text">
            {{ asert.blocksUntilHalving | number }}
          </div>
          <div class="symbol">
            <span
              *ngIf="asert.blocksUntilHalving > 1"
              i18n="shared.blocks-remaining"
              >Blocks remaining</span
            >
            <span
              *ngIf="asert.blocksUntilHalving === 1"
              i18n="shared.block-remaining"
              >Block remaining</span
            >
          </div>
        </div>
        <div class="item">
          <div
            class="card-text"
            i18n-ngbTooltip="mining.average-fee"
            placement="bottom"
          >
            <span>{{ asert.timeUntilHalving | date }}</span>
          </div>
          <div
            class="symbol"
            *ngIf="asert.blocksUntilHalving === 1; else approxTime"
          >
            <app-time
              kind="until"
              [time]="asert.adjustedTimeAvg + now"
              [fastRender]="false"
              [fixedRender]="true"
              [precision]="1"
              minUnit="minute"
            ></app-time>
          </div>
          <ng-template #approxTime>
            <div class="symbol">
              <app-time
                kind="until"
                [time]="asert.timeUntilHalving"
                [fastRender]="false"
                [fixedRender]="true"
                [precision]="0"
                [numUnits]="2"
                [units]="['year', 'day', 'hour', 'minute']"
              ></app-time>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loadingDifficulty>
  <div class="schedule-bar-container">
    <div class="skeleton-loader" style="height: 22px"></div>
  </div>
  <div class="difficulty-skeleton loading-container">
    <div class="item">
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
    <div class="item">
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
    <div class="item">
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
  </div>
</ng-template>
