<div class="container-xl about-page">
  <div class="intro">
    <img
      class="logo"
      [src]="
        isLightMode
          ? '/resources/explorer_bitcoin_cash_logo_bigger_light.png?v=bfx3'
          : '/resources/explorer_bitcoin_cash_logo_bigger.png?v=bfx3'
      "
      style="width: 387px; height: 100px"
    />
    <div class="version">
      <span
        >v{{ packetJsonVersion }} [<a
          href="https://github.com/bitfinitechain/bitfinite-mempool/commit/{{
            frontendGitCommitHash
          }}"
          >{{ frontendGitCommitHash }}</a
        >]</span
      >
      <span *ngIf="stateService.env.GIT_COMMIT_HASH_MEMPOOL_SPACE"
        >[{{ stateService.env.GIT_COMMIT_HASH_MEMPOOL_SPACE }}]</span
      >
    </div>
  </div>

  <div class="about-text">
    <p i18n>
      <a
        href="https://mempool.bitfinitechain.org"
        target="_blank"
        aria-label="Visit official BitFinite explorer website"
        >BitFinite Mempool</a
      >
      is a self-hosted, open-source blockchain and mempool explorer for
      BitFinite (BFX), based on mempool.space (AGPL). It is completely
      self-hosted without any trusted third-parties.
    </p>

    <p i18n>
      If you like this project and use the explorer on a regular basis, please
      consider
      <a
        href="https://bitfinitechain.org"
        target="_blank"
        aria-label="Donate to support BitFinite Mempool"
        >donating</a
      >.
    </p>

    <p i18n>
      BitFinite Mempool is free and open-source software, released under the
      AGPL-3.0 license. You can view the source, run your own instance, or
      contribute on
      <a
        href="https://github.com/bitfinitechain/bitfinite-mempool"
        target="_blank"
        aria-label="BitFinite Mempool source code on GitHub"
        >GitHub</a
      >. Questions or ideas? Feel free to
      <a
        href="https://x.com/bitfinitechain"
        target="_blank"
        aria-label="Contact BitFinite on X"
        >reach out on X</a
      >.
    </p>
  </div>

  <div class="managers" id="project-managers">
    <h3 i18n="about.project-manager">Powered By</h3>
    <div class="wrapper">
      <div class="box-wrapper">
        <a
          href="https://bitfinitechain.org"
          target="_blank"
          title="BitFinite (BFX)"
        >
          <span class="melroy-name">BitFinite (BFX)</span>
        </a>
        <span>
          <code>bfx:fzfj9z07nxrug9jnx02583h2sgs28p7w3svmdgv0rx</code>
          <app-clipboard
            text="bfx:fzfj9z07nxrug9jnx02583h2sgs28p7w3svmdgv0rx"
          ></app-clipboard>
        </span>
        <img
          src="/resources/qr_code.png"
          class="qr-code"
          width="300"
          alt="Donation BFX Address"
        />
      </div>
    </div>
  </div>

  <!--<video
    #promoVideo
    (click)="unmutePromoVideo()"
    (touchstart)="unmutePromoVideo()"
    src="/resources/promo-video/mempool-promo.mp4"
    poster="/resources/promo-video/mempool-promo.jpg"
    controls
    loop
    playsinline
    [autoplay]="true"
    [muted]="true"
  >
    <track
      label="English"
      kind="captions"
      srclang="en"
      src="/resources/promo-video/en.vtt"
      [attr.default]="showSubtitles('en') ? '' : null"
    />
    <track
      label="日本語"
      kind="captions"
      srclang="ja"
      src="/resources/promo-video/ja.vtt"
      [attr.default]="showSubtitles('ja') ? '' : null"
    />
    <track
      label="中文"
      kind="captions"
      srclang="zh"
      src="/resources/promo-video/zh.vtt"
      [attr.default]="showSubtitles('zh') ? '' : null"
    />
    <track
      label="Svenska"
      kind="captions"
      srclang="sv"
      src="/resources/promo-video/sv.vtt"
      [attr.default]="showSubtitles('sv') ? '' : null"
    />
    <track
      label="Čeština"
      kind="captions"
      srclang="cs"
      src="/resources/promo-video/cs.vtt"
      [attr.default]="showSubtitles('cs') ? '' : null"
    />
    <track
      label="Suomi"
      kind="captions"
      srclang="fi"
      src="/resources/promo-video/fi.vtt"
      [attr.default]="showSubtitles('fi') ? '' : null"
    />
    <track
      label="Français"
      kind="captions"
      srclang="fr"
      src="/resources/promo-video/fr.vtt"
      [attr.default]="showSubtitles('fr') ? '' : null"
    />
    <track
      label="Deutsch"
      kind="captions"
      srclang="de"
      src="/resources/promo-video/de.vtt"
      [attr.default]="showSubtitles('de') ? '' : null"
    />
    <track
      label="Italiano"
      kind="captions"
      srclang="it"
      src="/resources/promo-video/it.vtt"
      [attr.default]="showSubtitles('it') ? '' : null"
    />
    <track
      label="Lietuvių"
      kind="captions"
      srclang="lt"
      src="/resources/promo-video/lt.vtt"
      [attr.default]="showSubtitles('lt') ? '' : null"
    />
    <track
      label="Norsk"
      kind="captions"
      srclang="nb"
      src="/resources/promo-video/nb.vtt"
      [attr.default]="showSubtitles('nb') ? '' : null"
    />
    <track
      label="فارسی"
      kind="captions"
      srclang="fa"
      src="/resources/promo-video/fa.vtt"
      [attr.default]="showSubtitles('fa') ? '' : null"
    />
    <track
      label="Polski"
      kind="captions"
      srclang="pl"
      src="/resources/promo-video/pl.vtt"
      [attr.default]="showSubtitles('pl') ? '' : null"
    />
    <track
      label="Română"
      kind="captions"
      srclang="ro"
      src="/resources/promo-video/ro.vtt"
      [attr.default]="showSubtitles('ro') ? '' : null"
    />
    <track
      label="Português"
      kind="captions"
      srclang="pt"
      src="/resources/promo-video/pt.vtt"
      [attr.default]="showSubtitles('pt') ? '' : null"
    />
  </video>

  <ng-container>
    <app-about-sponsors></app-about-sponsors>
  </ng-container> -->

  <!-- <ng-container>
    <div *ngIf="profiles$ | async as profiles" id="community-sponsors-anchor">
      <div
        class="community-sponsor whale-sponsor"
        style="margin-bottom: 68px"
        *ngIf="profiles.whales.length > 0"
      >
        <h3 i18n="about.sponsors.withHeart">Whale Sponsors</h3>
        <div class="wrapper">
          <ng-container>
            <ng-template ngFor let-sponsor [ngForOf]="profiles.whales">
              <a
                [href]="'https://x.com/' + sponsor.username"
                target="_blank"
                rel="sponsored"
                [title]="sponsor.username"
              >
                <img
                  class="image"
                  [src]="'/api/v1/services/account/images/' + sponsor.username"
                  onError="this.src = '/resources/profile/grumpy.svg'; this.className = 'image unknown'"
                />
              </a>
            </ng-template>
          </ng-container>
        </div>
      </div>

      <div
        class="community-sponsor"
        style="margin-bottom: 68px"
        *ngIf="profiles.chads.length > 0"
      >
        <h3 i18n="about.sponsors.withHeart">Chad Sponsors</h3>
        <div class="wrapper">
          <ng-template ngFor let-sponsor [ngForOf]="profiles.chads">
            <a
              [href]="'https://x.com/' + sponsor.username"
              target="_blank"
              rel="sponsored"
              [title]="sponsor.username"
            >
              <img
                class="image"
                [src]="'/api/v1/services/account/images/' + sponsor.username"
                onError="this.src = '/resources/profile/grumpy.svg'; this.className = 'image unknown'"
              />
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container> -->

  <!-- <div class="community-sponsor" style="margin-bottom: 68px">
    <h3 i18n="about.sponsors.withHeart">OG Sponsors ❤️</h3>
    <div class="wrapper">
      <ng-container *ngIf="ogs$ | async as ogs; else loadingSponsors">
        <a
          *ngFor="let ogSponsor of ogs"
          [href]="'https://x.com/' + ogSponsor.handle"
          target="_blank"
          rel="sponsored"
          [title]="ogSponsor.handle"
        >
          <img
            class="image"
            [src]="'/api/v1/donations/images/' + ogSponsor.handle"
            onError="this.src = '/resources/profile/grumpy.svg'; this.className = 'image unknown'"
          />
        </a>
      </ng-container>
    </div>
  </div>

  <div class="community-integrations-sponsor" id="community-integrations">
    <h3 i18n="about.community-integrations">Community Integrations</h3>
    <div class="wrapper">
      <a
        href="https://github.com/getumbrel/umbrel"
        target="_blank"
        title="Umbrel"
      >
        <img class="image" src="/resources/profile/umbrel.png" />
        <span>Umbrel</span>
      </a>
      <a
        href="https://github.com/rootzoll/raspiblitz"
        target="_blank"
        title="RaspiBlitz"
      >
        <img class="image" src="/resources/profile/raspiblitz.svg" />
        <span>RaspiBlitz</span>
      </a>
      <a
        href="https://github.com/mynodebtc/mynode"
        target="_blank"
        title="myNode"
      >
        <img class="image" src="/resources/profile/mynodebtc.png" />
        <span>myNode</span>
      </a>
      <a href="https://ronindojo.io/" target="_blank" title="RoninDojo">
        <img class="image" src="/resources/profile/ronindojo.png" />
        <span>RoninDojo</span>
      </a>
      <a
        href="https://github.com/fort-nix/nix-bitcoin"
        target="_blank"
        title="nix-bitcoin"
      >
        <img class="image" src="/resources/profile/nix-bitcoin.png" />
        <span>NixOS</span>
      </a>
      <a
        href="https://github.com/Start9Labs/start-os"
        target="_blank"
        title="StartOS"
      >
        @if (isLightMode) {
        <span>StartOS</span>
      </a>
      <a
        href="https://github.com/btcpayserver/btcpayserver"
        target="_blank"
        title="BTCPay Server"
      >
        <img
          class="image not-rounded"
          src="/resources/profile/btcpayserver.svg"
        />
        <span>BTCPay</span>
      </a>
      <a
        href="https://github.com/bisq-network/bisq"
        target="_blank"
        title="Bisq"
      >
        <img class="image" src="/resources/profile/bisq_network.png" />
        <span>Bisq</span>
      </a>
      <a
        href="https://github.com/spesmilo/electrum"
        target="_blank"
        title="Electrum Wallet"
      >
        <img class="image" src="/resources/profile/electrum.png" />
        <span>Electrum</span>
      </a>
      <a
        href="https://github.com/sparrowwallet/sparrow"
        target="_blank"
        title="Sparrow Wallet"
      >
        <img class="image" src="/resources/profile/sparrow.png" />
        <span>Sparrow</span>
      </a>
      <a
        href="https://github.com/ACINQ/phoenix"
        target="_blank"
        title="Phoenix Wallet by ACINQ"
      >
        <img class="image not-rounded" src="/resources/profile/phoenix.svg" />
        <span>Phoenix</span>
      </a>
      <a href="http://github.com/COLDCARD" target="_blank" title="COLDCARD">
        <img class="image coldcard" src="/resources/profile/coldcard.png" />
        <span>COLDCARD</span>
      </a>
      <a href="https://github.com/ZeusLN/zeus" target="_blank" title="ZEUS">
        <img class="image" src="/resources/profile/zeus.png" />
        <span>ZEUS</span>
      </a>
      <a href="https://github.com/MutinyWallet" target="_blank" title="Mutiny">
        <img class="image not-rounded" src="/resources/profile/mutiny.svg" />
        <span>Mutiny</span>
      </a>
      <a
        href="https://github.com/hsjoberg/blixt-wallet"
        target="_blank"
        title="Blixt Wallet"
      >
        <img class="image" src="/resources/profile/blixt.png" />
        <span>Blixt</span>
      </a>
      <a href="https://github.com/nunchuk-io" target="_blank" title="Nunchuck">
        <img class="image" src="/resources/profile/nunchuk.svg" />
        <span>Nunchuk</span>
      </a>
      <a
        href="https://github.com/BlueWallet/BlueWallet"
        target="_blank"
        title="BlueWallet"
      >
        <img class="image" src="/resources/profile/bluewallet.png" />
        <span>BlueWallet</span>
      </a>
      <a href="https://github.com/BoltzExchange" target="_blank" title="Boltz">
        <img class="image" src="/resources/profile/boltz.svg" />
        <span>Boltz</span>
      </a>
      <a
        href="https://github.com/lnbits/lnbits-legend"
        target="_blank"
        title="LNbits"
      >
        <img class="image" src="/resources/profile/lnbits.svg" />
        <span>LNBits</span>
      </a>
      <a
        href="https://github.com/vulpemventures/marina"
        target="_blank"
        title="Marina Wallet"
      >
        <img class="image" src="/resources/profile/marina.svg" />
        <span>Marina</span>
      </a>
      <a
        href="https://github.com/bitcoin-wallet/bitcoin-wallet/"
        target="_blank"
        title="Bitcoin Wallet (Schildbach)"
      >
        <img class="image" src="/resources/profile/schildbach.svg" />
        <span>Schildbach</span>
      </a>
      <a
        href="https://github.com/cryptoadvance/specter-desktop"
        target="_blank"
        title="Specter Wallet"
      >
        <img class="image" src="/resources/profile/specter.png" />
        <span>Specter</span>
      </a>
      <a href="https://github.com/EdgeApp" target="_blank" title="Edge">
        <img class="image not-rounded" src="/resources/profile/edge.svg" />
        <span>Edge</span>
      </a>
      <a href="https://github.com/GaloyMoney" target="_blank" title="Galoy">
        <img class="image" src="/resources/profile/galoy.svg" />
        <span>Galoy</span>
      </a>
      <a
        href="https://github.com/muun/apollo"
        target="_blank"
        title="Muun Wallet"
      >
        <img class="image" src="/resources/profile/muun.png" />
        <span>Muun</span>
      </a>
      <a
        href="https://github.com/bitcoin-s/bitcoin-s"
        target="_blank"
        title="bitcoin-s"
      >
        <img class="image" src="/resources/profile/bitcoin-s.svg" />
        <span>bitcoin-s</span>
      </a>
    </div>
  </div>

  <ng-container
    *ngIf="translators$ | async | keyvalue as translators; else loadingSponsors"
  >
    <div class="project-translators" id="project-translators">
      <h3 i18n="about.translators">Project Translators</h3>
      <div class="wrapper">
        <ng-template ngFor let-translator [ngForOf]="translators">
          <a
            [href]="'https://x.com/' + translator.value"
            target="_blank"
            [title]="translator.key"
          >
            <img
              class="image"
              [src]="'/api/v1/translators/images/' + translator.value"
              onError="this.src = '/resources/profile/grumpy.svg'; this.className = 'image unknown'"
            />
          </a>
        </ng-template>
      </div>
    </div>
    <br />
  </ng-container>

  <ng-container
    *ngIf="allContributors$ | async as contributors; else loadingSponsors"
  >
    <div class="contributors" id="project-contributors">
      <h3 i18n="about.contributors">Project Contributors</h3>
      <div class="wrapper">
        <ng-template ngFor let-contributor [ngForOf]="contributors.regular">
          <a
            [href]="'https://github.com/' + contributor.name"
            target="_blank"
            [title]="contributor.name"
          >
            <img
              class="image"
              [src]="'/api/v1/contributors/images/' + contributor.id"
              onError="this.src = '/resources/profile/grumpy.svg'; this.className = 'image unknown'"
            />
            <span>{{ contributor.name }}</span>
          </a>
        </ng-template>
      </div>
    </div>

    <div
      class="maintainers"
      *ngIf="contributors.core.length"
      id="project-members"
    >
      <h3 i18n="about.project_members">Project Members</h3>
      <div class="wrapper">
        <ng-template ngFor let-contributor [ngForOf]="contributors.core">
          <a
            [href]="'https://github.com/' + contributor.name"
            target="_blank"
            [title]="contributor.name"
            [class]="'project-member-avatar'"
          >
            <img
              class="image"
              [src]="'/api/v1/contributors/images/' + contributor.id"
              onError="this.src = '/resources/profile/grumpy.svg'; this.className = 'image unknown'"
            />
            <span>{{ contributor.name }}</span>
          </a>
        </ng-template>
      </div>
    </div>
  </ng-container>-->

  <div class="social-icons">
    <a target="_blank" href="https://x.com/bitfinitechain">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fab"
        data-icon="x-twitter"
        class="svg-inline--fa fa-x-twitter fa-4x"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          fill="currentColor"
          d="M357.2 48L427.8 48 273.6 224.2 455 464 313 464 201.7 318.6 74.5 464 3.8 464 168.7 275.5-5.2 48 140.4 48 240.9 180.9 357.2 48zM332.4 421.8l39.1 0-252.4-333.8-42 0 255.3 333.8z"
        />
      </svg>
    </a>
    <a
      target="_blank"
      href="https://github.com/bitfinitechain/bitfinite-mempool"
    >
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fab"
        data-icon="github"
        class="svg-inline--fa fa-github fa-4x"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 496 512"
      >
        <path
          fill="currentColor"
          d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8z"
        ></path>
      </svg>
    </a>
    <a target="_blank" href="https://bitcointalk.org/index.php?topic=5589136" aria-label="BitFinite announcement thread on Bitcointalk">
      <svg
        aria-hidden="true"
        focusable="false"
        data-icon="bitcointalk"
        class="svg-inline--fa fa-4x"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          fill="currentColor"
          d="M256 32C114.6 32 0 125.1 0 240c0 47.6 19.9 91.2 52.9 126.3c-14.3 41.5-42.6 74.5-43 74.9c-2.7 3-3.4 7.3-1.9 11.1c1.6 3.8 5.2 6.3 9.3 6.3c56.3 0 98.6-27 119.5-44.1c34.4 13.8 72.9 21.5 119.2 21.5c141.4 0 256-93.1 256-208S397.4 32 256 32z"
        ></path>
      </svg>
    </a>
  </div>

  <div class="copyright">
    <div class="title">
      Copyright &copy; 2022-2026<br />
      <a href="https://bitfinitechain.org">BitFinite (BFX)</a>
    </div>
    <p>
      <a href="https://github.com/bitfinitechain/bitfinite-mempool"
        >BitFinite Mempool</a
      >
      &mdash; based on mempool.space, via Melroy van den Berg's Bitcoin Cash
      fork (AGPL-3.0) &mdash; is free software; you can redistribute it and/or
      modify it under the terms
      of the
      <a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html"
        >GNU Affero General Public License</a
      >
      as published by the Free Software Foundation, either version 3 of the
      License or any later version approved by a proxy statement published on
      &lt;https://mempool.bitfinitechain.org/about&gt;.<br />
    </p>
    <p>
      This program is distributed in the hope that it will be useful, but
      WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
      or FITNESS FOR A PARTICULAR PURPOSE. See the full license terms for more
      details.<br />
    </p>
    <p>
      This program incorporates software and other components licensed from
      third parties. See the full list of
      <a href="/3rdpartylicenses.txt">Third-Party Licenses</a> for legal notices
      from those projects.
    </p>
    <p>
      While our software is available under an open source software license.
    </p>
  </div>

  <br />
</div>

<ng-template #loadingSponsors>
  <br />
  <div class="spinner-border text-light"></div>
</ng-template>
